$blue: #3a67dc;
$blue-lighten-4: #e9eefb;
$blue-lighten-3: #becdf4;
$blue-lighten-2: #93acec;
$blue-lighten-1: #678be4;
$blue-darken-1: #0b98d9;
$blue-darken-2: #2250c3;
$blue-darken-3: #1b3e98;
$blue-darken-4: #132c6c;
$blue-darken-3: #0b1b41;

$green: #aef21b;
$green-lighten-5: #f8fff2;
$green-lighten-4: #deffbd;
$green-lighten-3: #cafd86;
$green-lighten-2: #bafa50;
$green-darken-1: #90bf09;
$green-darken-2: #718c02;
$green-darken-3: #4d5900;
$green-darken-4: #232600;

$grey: #b6bcbf;
$grey-lighten-4: #fafbfc;
$grey-lighten-3: #e8ebed;
$grey-lighten-2: #d7dbde;
$grey-lighten-1: #c6cbcf;
$grey-darken-1: #8f9699;
$grey-darken-2: #6a7173;
$grey-darken-3: #464b4d;
$grey-darken-4: #222626;
$grey-darken-5: #121212;
